body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightseagreen;
}

#dogImage1 {
    width: 750px;
    height: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header{
    height: 6rem;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}